* {
    /* `otf-font-awesome` is required to be installed for icons */
    color: #ff9baa
    font-family: "Cascadia Code";
    font-size: 16px;
    font-weight: 600;
}


window#waybar {
    color: rgb(255, 255, 255);
    transition-property: background-color;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0)
    /*background: linear-gradient(90deg, #6397ff, #4a42b3);*/
    /*border-radius: 5px;*/
}


window#waybar.hidden {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 12px;
    background-color: #1c1928; /*##282832;*/
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid /*#4e76c8;*/ #ff9baa;
}
