* {
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;

    min-height: 0;
    border: none;
    border-radius: 0px;
}

window#waybar {
    color: #f4d9e1;
    background: #241e2e;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #custom-launcher, #custom-playerctl, #workspaces, #cpu, #memory {
    background-color: #362f54;

    margin: 7px 7px;
    padding: 5px 10px;
    border-radius: 16px;
}


/*#################################################*/
/*                                                 */
/*                   Left Side                     */
/*                                                 */
/*#################################################*/

#custom-launcher {
    color: #7dcfff;
    background-color: #362f54;
    font-size: 30px;

    margin: 0px; margin-right: 10px;
    padding-left: 13px; padding-right: 20px; padding-top: 0px; padding-bottom: 0px;
    border-radius: 0px 0px 24px 0px;
}

#custom-launcher button:hover {
    color: transparent;
    background-color: #FB4934;

    margin-right: -5px; margin-left: 10px;
    border-radius: 8px;
}


#custom-playerlabel {
    padding-left: 10px;
}


/*#################################################*/
/*                                                 */
/*                   Workspaces                    */
/*                                                 */
/*#################################################*/

#workspaces button {
    color: #928374;
    border-radius: 16px;

    padding: 0px 5px;
}

#workspaces button.active {
    color: #f4d9e1;
    background-color: transparent;
}

#workspaces button:hover {
    color: black;
    background-color: #E6B9C6;
}


/*#################################################*/
/*                                                 */
/*                      Clock                      */
/*                                                 */
/*#################################################*/

#clock {
    color: #E6B9C6;

    margin: 0; margin-left: 10px;
    padding-left: 13px; padding-right: 15px;
    border-radius: 0px 0px 0px 24px;
}
