window {
    font-size: 16px;
    font-weight: 600;
    background-color: #1c1928;
    border-bottom: 2px solid #6397ff;
    border-radius: 5px;
}

#text {
    padding: 7px 12px;
}


#inner-box {
    padding: 0 13px;
}

#input {
    background-color: #1c1928;
    padding: 7px;
    border: 2px solid #6397ff;
    border-radius: 5px;
    margin-bottom: 13px;
}

#entry {
    outline-style: solid;
    outline-color: black;
    outline-width: 2px;
    border-radius: 5px;
}

#entry:selected {
    background: linear-gradient(90deg, #6397ff, #4a42b3);
    /*background-color: #352f4d;*/
    /*border-top: none;*/
    /*border-bottom: none;*/
    /*margin-bottom: 2px; /*So it doesn't move when selected cause of the border*/
    /*border-left: 2px solid #6397ff;*/
    /*border-right: 2px solid #6397ff;*/
}

#entry:selected #text {
    /*margin-left: -2px; /*So it doesn't move text whene sleected cause of border thingy*/
}
